<div class="container mx-auto">
  <div class="container px-4 pb-4 mx-auto">
    <h1 class="text-[#262626] text-xl font-bold mb-6">
      7 promotores y autoridades sometidas a consulta de “CONSULTA POPULAR DE
      REVOCATORIA 2021”
    </h1>
    <div class="flex flex-col md:flex-row md:gap-2 items-end">
      <div class="flex w-full gap-5 mb-2 items-end">
        <div class="flex flex-col w-[206px]">
          <label>Departamento</label>
          <select
            class="border border-[#E5E7EB] text-gray-900 text-sm focus:ring-[#0173CF] focus:border-[1] block w-full p-2.5">
            <option selected>TODOS</option>
            <option>Lima</option>
            <option>Lima</option>
            <option>Lima</option>
            <option>Lima</option>
          </select>
        </div>

        <div class="flex flex-col w-[206px]">
          <label for="elections">Provincias</label>

          <select
            class="border border-[#E5E7EB] text-gray-900 text-sm focus:ring-[#0173CF] focus:border-[1] block w-full p-2.5">
            <option selected>TODOS</option>
            <option>Lima</option>
            <option>Lima</option>
            <option>Lima</option>
            <option>Lima</option>
          </select>
        </div>
        <div class="flex flex-col w-[206px]">
          <label for="elections">
            <div class="flex flex-col">
              <label for="elections">Distritos</label>
              <select
                class="border border-[#E5E7EB] text-gray-900 text-sm focus:ring-[#0173CF] focus:border-[1] block w-full p-2.5">
                <option selected>TODOS</option>
                <option>Lima</option>
                <option>Lima</option>
                <option>Lima</option>
                <option>Lima</option>
              </select>
            </div>
          </label>
        </div>

        <button class="bg-[#00376F] text-white p-2.5">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
          <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
          <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
          </svg>
        </button>
      </div>

      <div class="flex flex-col w-[206px]">
        <label for="elections">ENTREGA</label>

        <select
          class="border border-[#E5E7EB] text-gray-900 text-sm focus:ring-[#0173CF] focus:border-[1] block w-full p-2.5">
          <option selected>SEGUNDA ENTREGA</option>
          <option>SEGUNDA ENTREGA</option>
          <option>SEGUNDA ENTREGA</option>
          <option>SEGUNDA ENTREGA</option>
          <option>SEGUNDA ENTREGA</option>
        </select>
      </div>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row justify-center mt-8">
    <div class="w-full lg:w-[75%] lg:mr-4">
      <div class="flex flex-col lg:flex-row">
        <div class="w-full lg:w-[68%] mb-4 lg:mb-0">
          <div class="border border-[#E5E7EB]">
            <img src="../../../../assets/imagenes/grafico4.png" alt="">
          </div>
        </div>

        <div class="w-full lg:w-[32%] p-2">
          <div class="">
            <label class="inline-flex items-center cursor-pointer">
              <span class="mr-3 text-sm font-medium text-gray-900 dark:text-gray-300">Obligados</span>
              <input type="checkbox" value="" class="sr-only peer" />
              <div
                class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
              </div>
              <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Electos</span>
            </label>
          </div>

          <div class="flex flex-col gap-3 mt-3">
            <div class="bg-[#F0F0F0] px-4 py-3 flex gap-4 justify-between items-center">
              <div>
                <h3 class="text-[#00376F] text-lg leading-[18px] font-bold">
                  Organizaciones Políticas
                </h3>
                <span class="text-[#00376F] text-lg font-bold"> 68 (100%)</span>
              </div>
              <div>
                <img class="w-[64px]" src="../../../../assets/grafico.png" alt="" />
              </div>
            </div>

            <div class="px-4 py-3 flex border-l-4 border-b-4 border-[#01366F] shadow-card gap-4">
              <div class="flex items-center">
                <span class="w-[25px] h-[25px] bg-[#7994FE] rounded-full shadow-card">
                </span>
              </div>
              <div>
                <h3 class="text-[#0173CF] text-lg leading-[18px] font-bold">
                  PARTIDOS POLÍTICOS
                </h3>
                <span class="text-[#0173CF] text-lg font-bold"> 68 (100%)</span>
              </div>
            </div>
            <div class="px-4 py-3 flex bg-[#F0F0F0] gap-4">
              <div class="flex items-center">
                <span class="w-[25px] h-[25px] bg-[#F16B3E] rounded-full shadow-card">
                </span>
              </div>
              <div>
                <h3 class="text-[#01366F] text-lg leading-[18px] font-bold">
                  MOVIMIENTO REDICIONAL
                </h3>
                <span class="text-[#01366F] text-lg font-bold">
                  13 (19.12%)</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4  flex flex-wrap ">


        <div class="w-[68%] ">
          <div
            class="px-4 py-3 flex border-l-4 border-b-4 border-[#01366F] shadow-card gap-4 justify-between items-center">

            <div>
              <h3 class="text-[#0173CF] text-lg leading-[18px] font-bold">
                CANDIDATOS OBLIGATORIOS
              </h3>
              <span class="text-[#0173CF] text-lg font-bold">534 345</span>
            </div>

            <div class="flex items-center">
              <img class="w-[64px]" src="../../../../assets/grafico.png" alt="" />
            </div>
          </div>
        </div>
        <div class=" w-[32%] pl-3">
          <div class="px-4 py-3 flex bg-[#F0F0F0] gap-4 h-full items-center">
            <div class="flex items-center">
              <span class="w-[25px] h-[25px] bg-[#6DB1E1] rounded-full shadow-card">
              </span>
            </div>
            <div>
              <h3 class="text-[#00376F] text-lg leading-[18px] font-bold">
                GOBIERNO REGIONAL
              </h3>
              <span class="text-[#00376F] text-lg font-bold"> 65 (95.49%)</span>
            </div>
          </div>
        </div>



        <!-- div  fffffffff fff -->
        <div class="bg-red-300 w-full p-10">
          agregar los div
        </div>

      </div>

    </div>

    <div class="w-full lg:w-[25%] mt-4 lg:mt-0">
      <div class="bg-[#F0F0F0]">
        <div class="bg-[#FFFFFF] shadow-lg p-3">
          <h4 class="text-lg font-bold mb-5">Top 5</h4>
          <div class="">
            <label class="inline-flex items-center cursor-pointer">
              <span class="mr-3 text-sm font-medium text-gray-900 dark:text-gray-300">Obligados</span>
              <input type="checkbox" value="" class="sr-only peer" />
              <div
                class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
              </div>
              <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Electos</span>
            </label>
          </div>


        </div>

        <div class="flex flex-col">
          <div class=" w-full ">
            <div class="px-4 py-3 flex  gap-4 h-full">
              <div class="flex items-center">
                <span class="text-[#00376F] text-[20px] font-bold"> 1</span>
              </div>
              <div class="flex items-center">
                <span class="w-[46px] h-[46px] bg-[#020202] rounded-full shadow-card">
                </span>
              </div>
              <div>
                <span class="text-[#00376F] text-[13px] font-bold">
                  00249048
                </span>
                <h3 class="text-[#5B5B5B] text-[13px] leading-[18px] font-bold">
                  LOPEZ ORDINOLA LUZ ANGELICA
                </h3>
                <span class="text-[#7994FE] text-[13px] font-bold"> Ingresos: S/ 9,000 </span>
                <h3 class="text-[#5B5B5B] text-[13px] leading-[18px] font-bold">AUTORIDAD SOMETIDA A CONSULTA PIURA /
                  TALARA / LOBITOS</h3>
              </div>
            </div>
          </div>

          <div class=" w-full ">
            <div class="px-4 py-3 flex  gap-4 h-full">
              <div class="flex items-center">
                <span class="text-[#00376F] text-[20px] font-bold"> 2</span>
              </div>
              <div class="flex items-center">
                <span class="w-[46px] h-[46px] bg-[#020202] rounded-full shadow-card">
                </span>
              </div>
              <div>
                <span class="text-[#00376F] text-[13px] font-bold">
                  00249048
                </span>
                <h3 class="text-[#5B5B5B] text-[13px] leading-[18px] font-bold">
                  LOPEZ ORDINOLA LUZ ANGELICA
                </h3>
                <span class="text-[#7994FE] text-[13px] font-bold"> Ingresos: S/ 9,000 </span>
                <h3 class="text-[#5B5B5B] text-[13px] leading-[18px] font-bold">AUTORIDAD SOMETIDA A CONSULTA PIURA /
                  TALARA / LOBITOS</h3>
              </div>
            </div>
          </div>

          <div class=" w-full ">
            <div class="px-4 py-3 flex  gap-4 h-full">
              <div class="flex items-center">
                <span class="text-[#00376F] text-[20px] font-bold"> 3</span>
              </div>
              <div class="flex items-center">
                <span class="w-[46px] h-[46px] bg-[#020202] rounded-full shadow-card">
                </span>
              </div>
              <div>
                <span class="text-[#00376F] text-[13px] font-bold">
                  00249048
                </span>
                <h3 class="text-[#5B5B5B] text-[13px] leading-[18px] font-bold">
                  LOPEZ ORDINOLA LUZ ANGELICA
                </h3>
                <span class="text-[#7994FE] text-[13px] font-bold"> Ingresos: S/ 9,000 </span>
                <h3 class="text-[#5B5B5B] text-[13px] leading-[18px] font-bold">AUTORIDAD SOMETIDA A CONSULTA PIURA /
                  TALARA / LOBITOS</h3>
              </div>
            </div>
          </div>

          <div class=" w-full ">
            <div class="px-4 py-3 flex  gap-4 h-full">
              <div class="flex items-center">
                <span class="text-[#00376F] text-[20px] font-bold"> 4</span>
              </div>
              <div class="flex items-center">
                <span class="w-[46px] h-[46px] bg-[#020202] rounded-full shadow-card">
                </span>
              </div>
              <div>
                <span class="text-[#00376F] text-[13px] font-bold">
                  00249048
                </span>
                <h3 class="text-[#5B5B5B] text-[13px] leading-[18px] font-bold">
                  LOPEZ ORDINOLA LUZ ANGELICA
                </h3>
                <span class="text-[#7994FE] text-[13px] font-bold"> Ingresos: S/ 9,000 </span>
                <h3 class="text-[#5B5B5B] text-[13px] leading-[18px] font-bold">AUTORIDAD SOMETIDA A CONSULTA PIURA /
                  TALARA / LOBITOS</h3>
              </div>
            </div>
          </div>


          <div class=" w-full ">
            <div class="px-4 py-3 flex  gap-4 h-full">
              <div class="flex items-center">
                <span class="text-[#00376F] text-[20px] font-bold"> 5</span>
              </div>
              <div class="flex items-center">
                <span class="w-[46px] h-[46px] bg-[#020202] rounded-full shadow-card">
                </span>
              </div>
              <div>
                <span class="text-[#00376F] text-[13px] font-bold">
                  00249048
                </span>
                <h3 class="text-[#5B5B5B] text-[13px] leading-[18px] font-bold">
                  LOPEZ ORDINOLA LUZ ANGELICA
                </h3>
                <span class="text-[#7994FE] text-[13px] font-bold"> Ingresos: S/ 9,000 </span>
                <h3 class="text-[#5B5B5B] text-[13px] leading-[18px] font-bold">AUTORIDAD SOMETIDA A CONSULTA PIURA /
                  TALARA / LOBITOS</h3>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="mt-7">

    <div class="flex justify-between items-center">
      <h2 class="text-[#262626] text-xl font-bold mb-6">
        Estado de la presentación
      </h2>
      <button class="px-[36px] py-[12px] bg-[#00376F] text-white font-bold">DESCARGAR EXCEL</button>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-3">

      <div class="bg-gray-200 p-4">Columna 1</div>


      <div class="bg-gray-300 p-4">Columna 2</div>


      <div class="bg-gray-400 p-4">Columna 3</div>


      <div class="bg-gray-500 p-4">Columna 4</div>


    </div>
    <hr class="w-full border my-4">
    <div>
      <h2 class="text-[#262626] text-xl font-bold ">
        Lista de Candidatos de “ELECCIONES REGIONALES MUNICIPALES 2022”
      </h2>
      <div class="flex flex-col w-[50%] mt-2">
        <label>Filtro de organización politica partisipantes</label>
        <!-- <select
          class="border border-[#E5E7EB] text-gray-900 text-sm focus:ring-[#0173CF] focus:border-[1] block w-full p-2.5 dark:bg-gray-700"
        >
          <option selected>TODOS</option>
          <option>Lima</option>
          <option>Lima</option>
          <option>Lima</option>
          <option>Lima</option>
        </select> -->
        <input type="text" placeholder="DIGITE NOMBRE DE ORGANIZACIÓN QUE BUSCA"
          class="border border-[#E5E7EB] text-gray-900 text-sm focus:ring-[#0173CF] focus:border-[1] block w-full p-2.5 dark:bg-gray-700">
      </div>
    </div>

    <div class="container mx-auto mt-3">
      <div class="flex flex-col lg:flex-row justify-center ">
        <div class="w-full lg:w-[25%] flex flex-col gap-3 ">

          <div class="px-2 py-2  border-l-4 border-b-4 border-[#01366F] shadow-card gap-4">
            <div class="flex gap-3">
              <div class="w-[48px] h-[48px] bg-gray-400">
                iria la imagen
              </div>
              <div class="flex flex-col">
                <div>
                  <h5 class="font-bold text-[15px] leading-[12px]">PARTIDO POLÍTICO DEL PERU LIBRE</h5>
                </div>
                <div class="flex gap-4">
                  <div>
                    <span class="leading-[5px]">Ingreso: </span>
                    <h6 class="leading-[5px]">S/ 129,343.30</h6>
                  </div>
                  <div>
                    <span class="leading-[5px]">Gastos: </span>
                    <h6 class="leading-[5px]">S/ 129,343.30</h6>
                  </div>

                </div>
              </div>
            </div>
            <div>
              <span>DENTRO DE PLAZO</span>
            </div>
          </div>

          <div class="px-2 py-2  border-l-4 border-b-4 border-[#01366F] shadow-card gap-4">
            <div class="flex gap-3">
              <div class="w-[48px] h-[48px] bg-gray-400">
                iria la imagen
              </div>
              <div class="flex flex-col">
                <div>
                  <h5 class="font-bold text-[15px] leading-[12px]">PARTIDO POLÍTICO DEL PERU LIBRE</h5>
                </div>
                <div class="flex gap-4">
                  <div>
                    <span class="leading-[5px]">Ingreso: </span>
                    <h6 class="leading-[5px]">S/ 129,343.30</h6>
                  </div>
                  <div>
                    <span class="leading-[5px]">Gastos: </span>
                    <h6 class="leading-[5px]">S/ 129,343.30</h6>
                  </div>

                </div>
              </div>
            </div>
            <div>
              <span>DENTRO DE PLAZO</span>
            </div>
          </div>
          <div class="px-2 py-2  border-l-4 border-b-4 border-[#01366F] shadow-card gap-4">
            <div class="flex gap-3">
              <div class="w-[48px] h-[48px] bg-gray-400">
                iria la imagen
              </div>
              <div class="flex flex-col">
                <div>
                  <h5 class="font-bold text-[15px] leading-[12px]">PARTIDO POLÍTICO DEL PERU LIBRE</h5>
                </div>
                <div class="flex gap-4">
                  <div>
                    <span class="leading-[5px]">Ingreso: </span>
                    <h6 class="leading-[5px]">S/ 129,343.30</h6>
                  </div>
                  <div>
                    <span class="leading-[5px]">Gastos: </span>
                    <h6 class="leading-[5px]">S/ 129,343.30</h6>
                  </div>

                </div>
              </div>
            </div>
            <div>
              <span>DENTRO DE PLAZO</span>
            </div>
          </div>
        </div>

        <div class="w-full lg:w-[75%] lg:mr-4">


          <div class="">
            <h4 class="text-[18px]  font-bold">Lista de Candidatos podemos Perú</h4>
          </div>
        </div>


      </div>
    </div>




  </div>







</div>